<footer class="site-footer" id="site-footer">
  <div class="hfg_footer">
    <div class="footer--row footer-bottom layout-full-contained"
         id="cb-row--footer-bottom"
         data-row-id="bottom" data-show-on="desktop">
      <div
        class="footer--row-inner footer-bottom-inner dark-mode footer-content-wrap">
        <div class="container">
          <div
            class="hfg-grid nv-footer-content hfg-grid-bottom row--wrapper row "
            data-section="hfg_footer_layout_bottom" >
            <div class="builder-item hfg-item-first col-4 col-md-4 col-sm-4 hfg-item-center offset-1"><div class="item--inner builder-item--footer-one-widgets"
                                                                                                           data-section="sidebar-widgets-footer-one-widgets"
                                                                                                           data-item-id="footer-one-widgets">
              <div class="widget-area">
                <div id="custom_html-3" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><img src="http://ml.unife.it/wp-content/uploads/2019/11/1.png" width=40 alt="img">
                  <p class="footer-text">
                    Università di Ferrara
                    <br><br>
                    DE - Department of Engineering<br>
                    Via Saragat, 1 - 44122 Ferrara, Italy
                    <br><br>
                    DMI - Department of Mathematics and Computer Science<br>
                    Via Machiavelli, 30 - 44121 Ferrara, Italy

                  </p></div></div>	</div>
            </div>

            </div><div class="builder-item col-2 col-md-2 col-sm-2 hfg-item-center"><div class="item--inner builder-item--footer-two-widgets"
                                                                                         data-section="sidebar-widgets-footer-two-widgets"
                                                                                         data-item-id="footer-two-widgets">
            <div class="widget-area">
              <div id="custom_html-4" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><img src="http://ml.unife.it/wp-content/uploads/2019/11/2.png" width=40 style="margin-top:-2px">
                <p class="footer-text">	ml@unife.it
                </p></div></div>	</div>
          </div>

          </div><div class="builder-item hfg-item-last col-4 col-md-4 col-sm-4 hfg-item-center offset-1"><div class="item--inner builder-item--footer-three-widgets"
                                                                                                              data-section="sidebar-widgets-footer-three-widgets"
                                                                                                              data-item-id="footer-three-widgets">
            <div class="widget-area">
              <div id="custom_html-5" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><p class="footer-text rectangle" style="padding-top:15px">
                ML Group - Università di Ferrara<br>
                © 2018 ML@UniFE. All rights reserved
              </p></div></div>	</div>
          </div>

          </div>							</div>
        </div>
      </div>
    </div>

  </div>
</footer>